
*{   font-family: 'Padauk', sans-serif;
    
}

.fish{display:flex;
    

}

.inner_right{
    
    display:flex;
     border:blue solid 1px;
     border-radius: 10px;
    flex-direction:column;
    margin-left: 15px;
    margin-bottom:20px;
    padding-right: 20px;
    background-color: aliceblue;
    /* code below is a shadow*/
    box-shadow: darkblue 5px 10px;
    width: 250px;
}

ul{ list-style-type: none;
   

}

.right{ display:flex;
    flex-direction: column;
    width:30%;

    border-radius:25px;
    background-color: aliceblue;
    border:blue solid 1px;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    box-shadow: darkblue 5px 10px;
    
    
}



main{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
}


.text h2{
    font-family: 'Gluten', cursive;
}

.fish{
    margin-bottom:0;
}

.navigation{
    margin-bottom:15px;
    text-align:center;
}

img{
    border-radius:25px;
    box-shadow: darkblue 5px 10px;
     margin-bottom: 20px;}

.name{
    text-align:center;
    font-family: 'Gluten', cursive;
}




.mystery_location{
    margin-top:30px;
    margin-left: 20px ;
    margin-right: 20px ;
}
    
.mystery_location h2{
    text-align: center;
    font-family: 'Gluten', cursive;

}

.navigation{
    background-color: darkcyan;
    border-radius: 25px;
}